<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Theophilus Lukas</title>
</head>
<body>
    <div class="top-name">
        <h1>LUKAS</h1>
        <div class="full-name">
            <h1>THEOPHILUS LUKAS</h1>
        </div>
        <div class="moto">
            <h2>~ Flectere si nequeo superos, Acheronta movebo ~</h2>
        </div>
        <div class="email">
            <h2>University of Indonesia - Faculty of Computer Science - 1906398332</h2>
            <h2>Theophilus.Lukas@ui.ac.id</h2>
        </div>
    </div>
    <img class="img-me" src="../static/img/obme.jpg" alt="Theophilus Lukas">
    <h2 class="in-memoriam">In Vitae Celebrationem</h2>
    <h2 class="years-active">
        2001 - 69420
    </h2>
    <div class="flex-row">
        <div class="about-me-box">
            <div class="about-me">
                <h2>About Me</h2>
            </div>
            <p class="about-me-par">
                Born in January, 2001 in the city of Jakarta, Indonesia into a family of five.
                <br>Currently pursuing a degree in Computer Science at the University of Indonesia.
            </p>
        </div>
        <div class="education">
            <div class="education-title">
                <h2> Education </h2>
            </div>
            <div class="education-content">
                <ul class="school-name">
                    <li>SDK 4 PENABUR</li>
                    <li>SMPK 5 PENABUR</li>
                    <li>SMAK 7 PENABUR</li>
                    <li>Universitas Indonesia</li>
                </ul>
                <dl class="school-year">
                    <dt>2007 - 2013</dt>
                    <dt>2013 - 2016</dt>
                    <dt>2016 - 2019</dt>
                    <dt>2019 - now</dt>
                </dl>
            </div>
        </div>

    </div>

</body>
</html>