.top-name {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 250px;
    font-weight: 500;
    color: chocolate;
    margin-top: 100px;
    margin-bottom: 20px;
}
.full-name{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: 50;
    color: chocolate;
    margin-top: 2px;
    margin-bottom: 10px;
}
.moto{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 20;
    color: rgba(66, 65, 65, 0.836);
    margin-top: 5px;
}
.email{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    font-weight: 50;
    color: rgba(0, 0, 0, 0.849);
    margin-top: 2px;
}
.about-me-box{
    margin-left: 150px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 150px;
}
.about-me {
    font-size: 45px;
    color: rgba(85, 1, 13, 0.801);
}
.about-me-par {
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-top: 90px;
}
.img-me{
    width: 700px;
    display: block;
    margin: 0 auto;
}
.flex-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}
.education{
    margin-left: 150px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 150px;
}
.education-title{
    font-size: 45px;
    color: rgba(85, 1, 13, 0.801);
}
.education-content{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-top: 0%;
}
.school-year{
    color: rgba(56, 56, 56, 0.781);
    margin-left: 20px;
}
.years-active{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 50px;
    color: black;

}
.in-memoriam{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 75px;
    color: black;
}